<h1>This is home page</h1>

<%= link_to 'Articles', articles_path %> | 
<%= # O sinal de '=' é para redenrizar todos os valores presenter no trecho de Ruby
# Para colocar Código Ruby em Arquivos ERB, utiliza-se desse sinal a cima
# Para criar um link entre páginas
link_to 'About', about_path 
%>